:root {
    --green: #81C14Bcc;
    --yellow: rgb(255, 226, 96);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    /* border: 1px dotted #ffffff55; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    /* transition: 0.5s ease-out; */
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c2833;
}

.box {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    min-height: 600px;
    width: 400px;
    border-radius: 20px;
    background-color: #34495e;
    /* border: 1px solid #81C14B; */
    /* box-shadow: 0 4px 10px 0 var(--green); */
}

h1 {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 00;
    color: rgb(151, 219, 95);
}

#life {
    /* grid-column: 1/2; */
    text-align: center;
    font-size: 18pt;
}

#level {
    /* grid-column: 1/2; */
    text-align: center;
    font-size: 18pt;
}

#timer {
    grid-column: 1/4;
    text-align: left;
    font-size: 50pt;
    display: flex;
    justify-content: center;
    color: #81C14B;
}

#score {
    /* grid-column: 3/4; */
    text-align: center;
    font-size: 18pt;
}

.display {
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 44pt;
    font-weight: bold;
}

.ans-box {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ans {
    width: 0;
    padding: 5px 30px;
    font-size: 30pt;
    font-weight: bold;
    color: #81C14B;
    border: 2px solid #81C14B;
    background-color: #1c2833;
    border-radius: 50px;
    outline: none;
    transition: 0.2s;
}

#ans:disabled {
    border-width: 0;
}

.btn-box {
    grid-column: 1/4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

}

#wrapper {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s ease;
}

#btx-num {
    margin: 0 5%;
    min-width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

#btn {
    /* display: none; */
    margin: 0 15%;
    padding: 10px 20px;
    min-width: 70%;
    height: 50%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #81C14B;
    font-size: 22pt;
    text-transform: uppercase;
    transition: 0.2s ease;
}

#btnSub {
    grid-row: 1/3;
    grid-column: 6/7;
    /* writing-mode: vertical-lr;
    text-orientation: upright; */
}

div[id*="btn"] {
    background-color: #81C14B;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    cursor: default;
    transition: 0.2s box-shadow ease
}

div[id*="btn"]:hover,
#btn:hover {
    background-color: rgb(117, 175, 68);
    box-shadow: 0 2px 6px 0 #1c2833;
}